<div class="container" 
    fxLayout = "column"    
    fxLayoutGap = "20px"  
    
>
    <div fxFlex >
        <div>
            <h3>Menu</h3>
            <hr>
        </div>
    </div>

    <div >
        <mat-grid-list cols="2" rowHeight ="200px" >
        <mat-grid-tile *ngFor="let dish of dishes" (click)="onSelect(dish)" >
            <img matListAvatar src="{{dish.image}}" alt="{{dish.name}}" height="300px">
            <mat-grid-tile-footer width ="20px" >
            <h1 matLine >{{dish.name}}</h1>
            </mat-grid-tile-footer>
        </mat-grid-tile>
    </mat-grid-list>
    </div>

    <app-dishdetail [dish] ="selectedDish" [dishc] ="selectedComment" ></app-dishdetail>    
</div>